li.player {
    display: flex;
    align-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}

li.player p {
    flex: 1;
    padding: 12px 24px;
    font-size: 150%;
}

li.player p.name {
    font-weight: bold;
}

li.player p.score {
    max-width: 50px;
}

li.player button.plus-button {
    flex: 1;
    border: 1px solid #ccc;
    font-size: 250%;
    margin: 12px;
    cursor: pointer;
    max-width: 50px;
}

li.player button.plus-button:hover {
    background-color: #eee;
}

li.player button.minus-button {
    flex: 1;
    border: 1px solid #ccc;
    font-size: 250%;
    margin: 12px;
    cursor: pointer;
    max-width: 50px;
}

li.player button.minus-button:hover {
    background-color: #eee;
}